#welcome{
    display: none;
}

.welcome{
    position: relative;
    height: 100vh;
    text-align: center; 
    width: 100%; 
    padding-top: 10vh;
}

.spinner{
    position: relative;
    height: 100vh;
    text-align: center; 
    width: 100%; 
    padding-top: 50vh;
}

.container-fluid{
    padding: 0;
}

.body{
    word-break: break-all;
    word-wrap: break-word;
}

.align-word{
    word-break: break-all;
    word-wrap: break-word;
}

.message{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-button{
    top: 60%;
    position: relative;
}

.img-dim{
    width: 75px;
    height: 75px;
}

.box-border{
    border: 3px solid gold;
    padding: 5px;
    height: 100vh;
}

.education{
    margin: auto;
    padding-top: 10vh;
}

.skills{
    padding-top: 10vh;
}

.content{
    margin: auto;
    padding: 0px;
}

.accordion-style{
    /*padding: 2px;*/
    width: 100%;
}

.progress-div{
    width: 90%;
    margin: auto;
}

.icon-dim{
    width: 25px;
    height: 25px;
}

.certificate-div{
    text-align: center;
    margin: auto;
}

.recommendations-div{
    margin: auto;
    max-width: 100%;    
}

.recommendations{
    padding-top: 10vh;
}

.element-width{
    width: 100%
}

.certifications{
    width: 100%;
    padding-top: 10vh;
}

.profile-img{
    /*height: 150px;
    width: 150px;*/
    margin: auto;
    padding-top: 20px;
    padding-bottom: 5px;
    max-width: 25%;
    height: auto;
}

.text-center{
    text-align: center;
}

.card{
    width: 98%;
    margin: auto;
}

.progress{
    width: 98%;
    margin: auto;
}

.mouse-pointer{
    cursor: pointer;
}

.portfolio-div{
margin:auto;
text-align: center;
}

.portfolio-img{
    /*margin: auto;   
    height: 50vh;*/
    max-width: 98%;
    height: auto;
    border: 1px solid gray;
}

.portfolio{
    width: 100%;
    padding-top: 10vh;
}

.align-left{
    text-align: left;
}

.contact{
    padding-top: 10vh;
    width: 100%
}

.contact-div{
    text-align: center;
    margin: auto;
    
}

.footer{
    padding-top: 30vh;
    text-align: center;
    width: 100%;
}


